@media (max-width: 320px) {
    .card {
      width: 74px;
      display: flex;
      flex-direction: column;
      border: 1px solid #EF9A9A;
      border-radius: 4px;
      overflow: hidden;
    }

    .card-header {
      color: #D32F2F;
      text-align: center;
      font-size: 8px;
      font-weight: 600;
      border-bottom: 1px solid #EF9A9A;
      background-color: #FFEBEE;
      padding: 2px 5px;
    }

    .card-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
    }

    .material-icons {
      font-size: 36px;
      color: #D32F2F;
      margin-bottom: 5px;
    }

    .main-description {
      color: #D32F2F;
      font-size: 8px;
      text-align: center;
    }

    h1,
    h3 {
      text-align: center;
      font-family: cursive;
      text-shadow: 2px 2px 2px #EF9A9A;
      font-size: 35px;
    }
  }

  @media (max-width: 450px) and (min-width: 320px) {
    .card {
      width: 90px;
      display: flex;
      flex-direction: column;
      border: 1px solid #EF9A9A;
      border-radius: 4px;
      overflow: hidden;
    }

    .card-header {
      color: #D32F2F;
      text-align: center;
      font-size: 8px;
      font-weight: 600;
      border-bottom: 1px solid #EF9A9A;
      background-color: #FFEBEE;
      padding: 2px 5px;
    }

    .card-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
    }

    .material-icons {
      font-size: 36px;
      color: #D32F2F;
      margin-bottom: 5px;
    }

    .main-description {
      color: #D32F2F;
      font-size: 8px;
      text-align: center;
    }

    h1,
    h3 {
      text-align: center;
      font-family: cursive;
      text-shadow: 2px 2px 2px #EF9A9A;
      font-size: 35px;
    }
  }