body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("fondo2.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #D32F2F;
  }

  i,
  b,
  u {
    color: red;
    font-weight: 900;
  }

  ul {
    justify-content: center;
  }

  .card {
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #EF9A9A;
    border-radius: 4px;
    overflow: hidden;
  }

  .card-header {
    color: #D32F2F;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #EF9A9A;
    background-color: #FFEBEE;
    padding: 5px 10px;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  .pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  #pdf {
    margin: 0px;
    padding: 0px;
    color: #D32F2F;
  }


  .material-icons {
    font-size: 36px;
    color: #D32F2F;
    margin-bottom: 5px;
  }

  .main-description {
    color: #D32F2F;
    font-size: 14px;
    text-align: center;
  }

  a {
    text-decoration: none;
    width: 100%;
  }

  .fluid-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }

  h1,
  h3 {
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px 2px #EF9A9A;
    font-size: 45px;
  }

  .rounded-circle {
    margin: auto;
    display: block;
  }

  #c1{
    float: left;
    width: 40%;
    margin-bottom: 13px;
    padding: 6px;
    background-color: snow;
    border-radius: 30px;
    border: 3px solid salmon;
  }

  #c2{
    float: right; 
    width: 53%;
    margin: 3px;
    padding: 6px;
    background-color: azure;
    border-radius: 20px;
    border: 3px solid cornflowerblue;
  }

  #c3{
    margin: 10px;
    padding: 6px;
    clear: both;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    border: 3px solid goldenrod;
  }

  #c4{
    float: left; 
    width: 40%;
    margin: 3px;
    padding: 6px;
    background-color: azure;
    border-radius: 20px;
    border: 3px solid cornflowerblue;
   
  }

  #c5{
    float: right; 
    width: 55%;
    margin: 3px;
    padding: 6px;
    background-color: snow;
    border-radius: 30px;
    border: 3px solid salmon;
   
  }

  li{
    list-style: none;
    font-weight: bold;
    text-align: center;
  }

  #variable #Introducción {
    margin-top: 50px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
  }

  #variable #Características{
    margin: 30px;
  }

  